* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */

.logo {
    width: 10%;
}

img {
    width: 30%;
    border-radius: 12px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(233, 233, 233);
    margin-bottom: 40px;
}

nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}

nav a {
    text-decoration: none;
    font-size: 14px;
    color: black;
    padding: 12px;
}

nav a:hover {
    background-color: green;
    border-radius: 20px;
    color: white;
}

.btn-revista {
    background-color: greenyellow;
    padding: 12px;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

/* banner */

main {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.banner {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.uteista {
    background-color: #117f6c;
    padding: 12px;
    width: 22%;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

/* generacion */

.generation {
    padding: 5rem 8rem;
}

.generation h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 3rem;
    font-weight: 600;
}

.cards-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

.card {
    background-color: rgb(233, 233, 233);
    padding: 2rem;
    border-radius: 1rem;
    width: 20%;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #117f6c;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card:hover:before {
    opacity: 0.1;
}

.icon {
    font-size: 2rem;
    color: #117f6c;
    margin-bottom: 1rem;
    display: block;
}

.card h3 {
    color: #333;
    margin-bottom: 1rem;
    font-weight: 600;
}

.card p {
    color: #666;
    line-height: 1.6;
    font-size: 1rem;
}

/* convenios */

.convenios {
    background-color: #117f6c;
    border-radius: 15px;
    padding: 20px;
    max-width: 90%;
    margin: 0 auto;
    text-align: left;
    color: white;
}

.convenios-container {
    position: relative;
}

.convenios-img {
    width: 100%;
    border-radius: 10px;
}

.convenios-contenido {
    padding: 15px;
}

.convenios h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.convenios p {
    font-size: 1rem;
    line-height: 1.5;
}

.autor {
    margin-top: 10px;
    font-style: italic;
}

/* bolsa */

.bolsa {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.h1 {
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 250px;
    text-align: center;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.h2 {
    font-size: 18px;
    margin-bottom: 10px;
    text-align: start;
}

.container-icons {
    display: flex;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 14px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    gap: 8px;
}

li img {
    width: 20px;
    height: 20px;
}

.container-price {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.price {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-right: 10px;
}

.btn-contratar {
    background-color: #117f6c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.footer-container {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #117f6c;
    color: #fff;
    border-radius: 10px;
    width: 80%;
}